{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>otp checking</title>
  </head>
  <body>
       <table>
        <tr>
            <th>
                <img src="{% static 'images/e1logo.png' %}">
            </th>
            <th>
                <div class="card bg-dark text-white">
  <img src="{% static 'images/forget.jpg' %}" width="1100" height="200">
  <div class="card-img-overlay">
    <h3 class="card-title" style="color:orange;"> e-Farmer support system</h3>
  </div>
</div>
            </th>
            <th>
                <img src="{% static 'images/elogo.png' %}" width="200" height="200">
            </th>
        </tr>
           <tr>
               <td colspan="3">
                   <div class="card bg-dark text-white">
  <img src="{% static 'images/agrii.png' %}" class="card-img" width="1005" height="700">
  <div class="card-img-overlay">
   <table align="center" border="2" cellpadding="10">
       <tr style="background-color: maroon;text-align: center">
           <th colspan="2" align="center">change officer password </th>
       </tr>
       <tr>
           <td width="400">
               <img src="{% static 'images/addtecno4.jpg' %}" width="400" height="400">
           </td>
           <td>

               <table align="center" cellpadding="10" border="2">
                   <tr style="background-color: green;text-align: center">

                       <th>change officer password </th>
                   </tr>
                    {% for x in data %}
                   <tr>
                       <td>
                           <input type="email" required placeholder="email" name="t1" value="{{x.email }}">
                       </td>
                   </tr>
                   <tr>
                       <td>
                           <input type="password" required placeholder="oldpassword" name="t2" value="{{ x.password }}">
                       </td>
                   </tr>
                   {% endfor %}
                   <form action="{% url 'otpckecking' %}" method="post">
                       {% csrf_token %}
                   <tr>
                       <td>
                           <input type="number" required placeholder="enter otp" name="t3">
                       </td>
                   </tr>
                        <tr>
                       <td align="center">
                          <button type="submit">Reset</button>
                       </td>
                   </tr>
                       </form>
               </table>
           </td>
       </tr>
   </table>
  </div>
</div>
               </td>
           </tr>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>